player-connection-mode=Listen
player-connection-guid=2904982140
player-connection-debug=0
player-connection-project-name=Scubaworld
player-connection-ip=192.168.161.10
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=7c43703eefe54a3f90160b425a7e412c
