player-connection-mode=Listen
player-connection-guid=4179342277
player-connection-debug=0
player-connection-project-name=Scubaworld
player-connection-ip=192.168.161.10
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=e04923ccc97c4a20b4c82e5178368d5c
